body{
    padding: 0;
    margin: 0;
}

.container-global{
    width: 1440px;
    height: 1394px;
}

figure{
    margin: 0;
}

main{

}

.introdução{

}

.card-foto{

}

.card-text{

}
.projetos-container{
    
}

.projeto{

}

.destaque{

}