@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Arima:wght@100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Arima:wght@100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;  
    list-style: none;
}
.container{
    width: 800px;
    display: flex;
    padding: 30px;
    flex-direction: column;
}
.container-global{
    width: 100%;
    display: flex;
}
header{
    font-family: Roboto, sans-serif;
    display: flex;
    border-bottom: 1px solid #E5E7EB;
    background: #FFF;
    justify-content: space-between;
    padding: 20px 50px;
}

header .funcoes{
    display: flex;
    gap: 16px;
}

header .funcoes .inscricao{
    gap: 10px;
}
header .funcoes .inscricao a{
    display: flex;
    gap: 10px;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    height: 32px;
    border-radius: 4px;
    color: white;
    background: #F60;
    font-size: 14px;
}
header .funcoes .inscricao a:hover{
    background: #FD8535;
}

header .funcoes .usuario{
    
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left{
    padding: 40px var(--spacing-spacing-md, 24px);
    font-family: Inter, sans-serif;
    color: #0D5EAF;
    justify-content: space-between;
    height: 1100px;
    border-right: 1px solid #E5E7EB;
}

.left .menu-top a{
    text-align: end;
}
.fa-chevron-left{
    font-size: 24px;
}
.left .menu-top{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.left nav ul li{
    display: flex;
    gap: 15px;
    align-items: center;
    width: 180px;
}
.left a{
    color: inherit;
}
.left nav ul li .icon-container{
    display: flex;
    padding: 20px 15px;
}
.left nav ul li:nth-child(2) .icon-container{
    padding: 20px 13px;
}
.left nav ul li:nth-child(4) .icon-container{
    padding: 20px 15.5px;
}
.fa-border-all{
    color: white;
}
.fa-calendar-days,.fa-paper-plane,.fa-square-poll-vertical,.fa-users,.fa-gear,.fa-rotate-180{
    color: #0D5EAF;
}
.left ul li:active div i{
    color: white;
}
.left ul li:hover{
    background: #F2F9FD;
}
.left nav ul li:active div{
    background-color: #0D5EAF;
    
}
.left .menu-top ul li:nth-child(1) div{
    background-color: #0D5EAF;
}
.left .menu-down{
    padding-top: 24px;
    border-top: 1px solid #E7EBF2;
}

main{
    display: flex;
    justify-content: center;    
}
.container .main-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
}
.container .main-header .principal{
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-family: Inter, sans-serif;
}
.container .main-header .principal .titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .main-header .principal .sub-principal{
    display: flex;
    gap: 16px;
}
.main-header .principal .sub-principal .date,.local,.inscricoes{
    display: flex;
    gap: 6px;
}
.main-header i{
    font-size: 18px;
}
.main-header .principal h1{
    font-size: 24px;
    font-family: Archivo, sans-serif;
}
.main-header .editar a{
    display: flex;
    padding: 12px;
    background-color: #F2F9FD;
    color: #0F6ECD;
    font-family: Inter, sans-serif;
    gap: 6px;
    align-items: center;
    border-radius: 6px;
}

main .container .cards{
    display: flex;
    gap: 24px;
}

main .container .cards .card{
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background: #F2F9FD;
    gap: 30px;
    padding: 12px 16px 24px 16px;
    font-family: Inter,sans-serif;
    color: #2E96C9;
    width: 220px;
    font-size: 14px;
}

.cards .card i{
    font-size: 16px;
}

.cards .card .card-header{
    display: flex;
    justify-content: space-between;
}

.cards .card .card-header .card-titulo{
    display: flex;
    gap: 8px;
    align-items: center;
}

.cards .card p{
    font-family: Archivo, sans-serif;
    color: #374151;
    font-size: 32px;
    font-weight: 700;
}